@model Forest.Data.Models.Domain.Genre

@{
    ViewBag.Title = "GetGenre";
}

<h2>GetGenre</h2>

<div>
    <h4>Genre</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
    <h2>Music in @Model.Name</h2>
</p>
@if(Model.Musics.Count != 0)
            {
                @Html.Partial("~/Views/Genre/GetMusics.cshtml", Model.Musics);
            }
